name: "docker-ci minimal test"

on:
  workflow_dispatch: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: echo
        run: echo "docker-ci minimal run"